@section() {
    <div id="chart"></div>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/c3/0.4.10/c3.min.css">
    <link rel="stylesheet" href="@routes.Assets.versioned("css/main.css")">

    <script src="https://cdn.socket.io/socket.io-1.3.7.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

    <script src="http://d3js.org/d3.v3.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/c3/0.4.10/c3.js"></script>

    <script src="@routes.Assets.versioned("js/hashChart.js")"></script>
}