@section() {
    @section() {
        <h2>Play! Principles</h2>
        <ul>
            <li>Easy to setup</li>
            <li>Easy to use</li>
        </ul>
    }
    @section() {
        <h2>Development perks</h2>
        <p>Full hot code replacement</p>
        <p>Deploy applications as a jar file</p>
    }
    @section() {
        <h2>Play 2!</h2>
        <p>Rewritten in Scala</p>
        <p>Maintained first class support for Java</p>
        <p>Brought better support for developing web services</p>
    }
}