@()

<!DOCTYPE html>

<html lang="en">
    <head>
        <title>GD-Dev Play! Demo</title>

        <meta name="description" content="GD-Dev on the Play! Framework.">
        <meta name="author" content="Daniel Nesbitt">

        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, minimal-ui">

        <link rel="shortcut icon" type="image/png" href="@routes.Assets.versioned("images/favicon.png")">
        <link rel="stylesheet" href="@routes.Assets.versioned("css/chart.css")">
    </head>
    <body>

        <svg class="chart" data-bar-chart data-data="23,43,10,13,10,20,30,23,43,10,13,10,20,30" data-bar-width="15"></svg>
        <svg class="chart" data-bar-chart data-data="19,65,23,31,32,44,5,32,23,23,54,65" data-bar-width="15"></svg>
        <svg class="chart" data-bar-chart data-data="34,43,65,21,5,43,43,32,32,12,31,32,12,32,23,12" data-bar-width="15"></svg>

        <script src="https://cdn.socket.io/socket.io-1.3.7.js"></script>
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
        <script src="http://d3js.org/d3.v3.min.js"></script>
        <script src="@routes.Assets.versioned("js/hashChart.js")"></script>

    </body>
</html>
